/* 共通 */
html {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  /* color: white; */
  text-decoration: none;
}
h1 {
  font-family: "Hachi Maru Pop", cursive;
  /* font-family: 'Potta One', cursive; */
  font-size: 15rem;
  color: #062d9f;
  margin: 0;
  text-shadow: 4px 4px 3px #f5f5f5;
  font-weight: bold;
}
h2,
h3 {
  color: #062d9f;
  margin-top: 0;
  text-shadow: 4px 4px 3px #f5f5f5;
}
p {
  margin-bottom: 2px;
}
input {
  width: 100%;
  height: 9%;
  font-size: 1rem;
}
button {
  margin: 1rem;
}
/* ボタン光る処理 */
.button {
  color: black;
  position: relative;
  transition: 800ms ease all;
}
.button:hover {
  background: green;
  color: #fff;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: white;
  transition: 400ms ease all;
}
.button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
.button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* main */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  flex-direction: column;
  /* background-image: url(http://tamagin-urara.com/wp-content/themes/urara/assets/img/bg_body.jpg);  */
  background-size: cover;
}
.titleImg {
  display: inline-block;
  width: 30rem;
  border-radius: 50%;
}
label {
  height: 3rem;
  font-size: 1.5rem;
  text-align: center;
}
.top_section {
  width: 100%;
}
.top_wrapper {
  height: 60rem;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 4;
}
.bodyImgs {
  width: 100%;
  height: 70rem;
  position: relative;
}
.bodyImg {
  width: 100%;
  height: 70rem;
  object-fit: cover;
  position: absolute;
  z-index: -5;
}
.container {
  width: 100%;
  /* height: 200rem; */
  flex-direction: column;
}
/*-------------------- 予約必須入力項目-------------------- */
.reservation {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
}
/* .internetBtns {
    width: 12rem;
    height: 4rem;
    cursor: pointer;
    background-image: url(https://www.jaf-co.jp/assets/img/recruit/b-recruit_number_bg.png);
    background-size: cover;
    margin-top: 1rem;
} */
.internetBtn {
  height: 2rem;
  width: 10rem;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  margin: 0;
  text-align: center;
}
.form_wrapper {
  margin-bottom: 2rem;
}
form {
  width: 100%;
  height: 100%;
}
/* 時間選択 */
.reservationBox {
  width: 100%;
  height: 40rem;
  background-color: #e4f3e4;
  margin: 0 auto;
  flex-direction: column;
}
.choiceResult {
  width: 50%;
  background-color: #f1d266;
  text-align: center;
}
.timeChoices {
  width: 100%;
  height: 4rem;
}
.timeChoice {
  height: 2rem;
  cursor: pointer;
  color: black;
  margin: 0.3rem;
  text-align: center;
  border: 2px solid #fff;
  background-color: aliceblue;
}
/* .morning {
    background-color: #3232b3;

}
.afternoon {
    background-color: #1c751c;
}
.night {
    background-color: #524646;
} */
.time {
  margin: 1rem;
}
.timeChoiceResult {
  background-color: #3232b3;
}
.timeResult {
  color: #fff;
}
select {
  width: 100%;
  height: 100%;
}
/* 予約確認画面へボタン */
.confirmBtn {
  text-align: center;
  /* background-color: yellow; */
  margin: 1.5rem;
}
.confirmBtn a {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: red;
  padding: 8px 40px;
}
.confirmBtn button {
  height: 2rem;
  width: 60%;
  border: 0;
  /* background-color: #df371b; */
}
/* 電話予約はこちら */
.phoneResevation {
  margin: 1.5rem;
  text-align: center;
}
/* --------------------色選び---------------------------- */
.colors {
  width: 100%;
  height: 5rem;
  background-color: red;
}
.color {
  width: 100%;
  height: 100%;
}
/* --------------------色選び---------------------------- */

/* フェードイン */
.text-focus-in {
  -webkit-animation: text-focus-in 4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
/*下からフェードイン*/
.fade-in-top {
  opacity: 0;
  animation-name: fadein-top;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes fadein-top {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  50% {
    opacity: 0.3;
    transform: translateX(-200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* ここまでが文字が浮かび上がってくる処理 */
/*左からフェードイン*/
.fade-in-left {
  opacity: 0;
  animation-name: fadein-left;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
@keyframes fadein-left {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  50% {
    opacity: 0.3;
    transform: translateX(-150px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* -----------------------------------予約確認画面-------------------------------------------------- */
.confirm_wrapper {
  width: 50%;
  height: 60rem;
  margin: 0 auto;
  background-color: red;
}
.confirm_container {
  width: 70%;
  flex-direction: column;
}
.confirmBox {
  flex-direction: column;
  height: 25rem;
  border: 2px solid #fdfbfb;
}
.comfirm_btn {
  background-color: #062d9f;
  height: 2rem;
  width: 9rem;
  margin: 1rem;
  line-height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}
.comfirm_btn a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.sendBtns {
  height: 2rem;
  width: 9rem;
}
.sendBtn {
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 1rem;
  background-color: #062d9f;
  display: block;
  margin: 0;
  border: 0;
  cursor: pointer;
}

table {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  border-collapse: collapse;
}

table td {
  height: 4rem;
  font-weight: bold;
}
table tr {
  width: 100%;
  border-bottom: 3px solid #fdfbfb;
}

/* ----------------------------------レスポンシブ--------------------------------------------- */
/* --------------予約入力画面------------------------ */
@media screen and (max-width: 480px) {
  /* 320pxまでの幅の場合に適応される */
  /* body {
    background-color: #68b876;
  } */
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  .reservationBox {
    height: 31rem;
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .top_wrapper{
      width: 100%;
  }
  .bodyImgs {
    height: 30rem;
  }
  .bodyImg {
    height: 30rem;
  }
  .titleImg {
    width: 20rem;
  }
  .reservation {
    width: 90%;
    margin: 0 auto;
  }
  .form_wrapper {
    width: 100%;
    height: 100%;
  }
  label {
    font-size: 0.8rem;
  }
  /* --------------------確認画面--------------------------- */
  .confirm_wrapper {
    width: 100%;
  }
  .confirm_container {
    width: 100%;
  }
  table td {
    width: 100%;
    height: 4rem;
  }
}
